logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
project/project
project/target
tmp
.DS_STORE
.target/
.cache
bin/
.sbtserver
project/.sbtserver
*.ly
*.pdf
*.iml
*.ipr
*.iws
.idea
out
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
tags
.*.swp
.*.swo
target
*.class
.log
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

