.mtb10{margin-top:10px;
margin-bottom: 10px;}

body { padding-top: 50px; }

/* Stop bounce on scroll */
/*html {
    height  : 100%;
    overflow: hidden;
}
body {
    height  : 100%;
    overflow: auto;
}*/