<link href="assets/bootstrap/css/signin.css" rel="stylesheet">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Login or Sign Up</b></h3>
  </div>
  <div class="panel-body">
    <form class="form-signinpage">
        <!--h2 class="form-signinpage-heading">Welcome</h2-->
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <p></p>
      <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="location.href='/harmonize';">Go</button>
    </form>
  </div>
</div>